intfloat-multilingual-e5-large-2023-12-18_22-55-49/** filter=lfs diff=lfs merge=lfs -text
ai-forever-sbert_large_nlu_ru-2023-12-18_04-00-29/** filter=lfs diff=lfs merge=lfs -text
alexyalunin-RuBioBERT-2023-12-18_10-27-17/** filter=lfs diff=lfs merge=lfs -text
